.flexbox{
  display: flex;
}

.item1{
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

.item2{
  width: 200px;
  height: 50px;
  background-color: pink;
}